body{
	width: 100%;
	font-weight: 300;
	color: #000;
	font-family: "Source Sans Pro","Helvetica Neue", "Nanum Gothic", Helvetica,Arial,sans-serif;
}

a{
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid black;
	padding-bottom: 1px;
}

.wrapper {
	padding: 5% 10% 10%;
}
.fw400 {
	font-weight: normal;
}

a:hover {
	color: #aaa;
}

a:active{
	padding-bottom: 0px;
}

ul {
	margin-top: 2em;
	list-style-type: none;	
}

li a {
	margin-right: 25px;
}

header, article, footer, section.works{
	padding-left: 20px;
}

header, footer {
	font-size: 25px;
}

article, section.works{
	width: 600px;
	padding-top: 30px;
	margin-left: 10px;
	font-size: 18px;
	line-height: 1.5;
}

footer {
	margin-top: 30px;
}

.mailto {
	font-style: italic;
	border: none;
}

.workdesc{
	font-size: 16px;
	display: none;
}

li strong:hover + .workdesc{
	display: inline;
}