html,body,.bg {
  margin: 0;
  padding: 0;
}

html,body {	height: 100%; }

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}


.bg {
	height:100%;
	width:100%;
	color: #ffffff;
  background: -webkit-linear-gradient(#50c9c3, #96deda);
  background: linear-gradient(#50c9c3, #96deda);
  -webkit-animation: hue 10s infinite linear;
  animation: hue 10s infinite linear;
}