body{
	width: 100%;
	font-weight: 300;
	padding: 5% 10% 10%;
	color: #000;
	font-family: "Source Sans Pro","Helvetica Neue", "Nanum Gothic", Helvetica,Arial,sans-serif;
}

a{
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid black;
	padding-bottom: 1px;
}

.fw400 {
	font-weight: normal;
}

a:hover {
	color: #aaa;
}

a:active{
	padding-bottom: 0px;
}

ul {
	list-style-type: none;	
}

header, article, footer{
	padding-left: 20px;
	font-size: 25px;
}


article{
	width: 550px;
	text-align: initial;
	padding-top: 30px;
	margin-left: 10px;
	font-size: 20px !important;
}

footer {
	margin-top: 30px;
}

.mailto {
	font-style: italic;
	border: none;
}