<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}
  {% include fonts.html %}

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="google-site-verification" content="UsqbOpTubCEhGT8lr2bO1vcRiHUGH259hwYl4Mb-jDU" />
  <meta name="naver-site-verification" content="9501c0aa80f86b3558b56ad1eada828a7055b75d"/>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>
