<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <header class="blog-header">
      <div class="blog-info">
        <h1 class="blog-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <p class="blog-description">{{ site.description }}</p>
      </div>

      <nav>
        <a href="{{ site.baseurl }}/about">About</a>
      </nav>
    </header>

    <div id="main" role="main" class="entry">
      <ul class="posts">
        {% for post in paginator.posts %}
          <li class="cate-{{ post.category }}">
          <a href="{{ post.url }}">
            <span class="category">{{ post.category | capitalize }}</span>
            <span class="title">{{ post.title }}</span>
            <span class="time">{{ post.date | date_to_string }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="paging">
      {% if paginator.previous_page %}
        <span class="prev"><a href="{{ paginator.previous_page_path }}">›</a></span>
      {% else %}
          <span class="prev disabled">‹</span>
      {% endif %}

      {% if paginator.next_page %}
        <span class="next"><a href="{{ paginator.next_page_path }}">›</a></span>
      {% else %}
        <span class="next disabled">›</span>
      {% endif %}
      
      <span class="page-count">{{ paginator.page }} / {{ paginator.total_pages }}</span>}
    </div>

    {% include analytics.html %}
  </body>
</html>
