
<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <header class="post-header">
      <div class="post-info">
        <h2 class="blog-name"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2> :: <span>{{ page.category }}</span>
      </div>

      <nav>
        <a href="{{ site.baseurl }}/about">About</a>
      </nav>
    </header>

    <article class="post">
      <h1>{{ page.title }}</h1>
      
      <div class="date">
        {{ page.date | date_to_string }}
      </div>

      <div class="entry">
        {{ content }}
      </div>
    </article>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>


