
<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <header class="post-header">
      <div class="post-info">
        <a href="{{ site.baseurl }}/" class="home">{{ site.title }}</a> <span class="cate-{{ page.category }}">{{ page.category | capitalize }}</span>
      </div>
    </header>

    <article class="post">
      <span class="post-title">{{ page.title }}</span>
      
      <div class="post-date">
        {{ page.date | date_to_string }}
      </div>

      <div class="post-content">
        {{ content }}
      </div>
    </article>

    <footer class="footer">
      {% include svg-icons.html %}
    </footer>

    {% include analytics.html %}
  </body>
</html>


